#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 1rem auto 4rem;
}

.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
} */

.price {
  color: grey;
  font-size: 22px;
}

/* .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} */

/* .card button:hover {
  opacity: 0.7;
} */

.card {
  width: 320px;
  height: 400px;
  margin: 20px;
}

.event-card {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-pic {
  height: 250px;
  width: 320px;
  margin: 0;
  border-start-end-radius: 5%;
  border-start-start-radius: 5%;
  padding: 0;
  margin-bottom: 5px;
}

.card-name {
  font-weight: normal;
  font-size: large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(248, 241, 241, 0.708);
  margin: 0;
  padding: 5px 0px;
  text-align: left;
}

.card-desc {
  margin: 0;
  padding: 0px;
  text-align: left;
  border-end-end-radius: 5%;
  border-end-start-radius: 5%;
}
